.App {
  text-align: center;
}

.LabelFont {
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ButtonWidth {
  min-width: 110px;
}

.TextStyle {
  min-height: 22px;
}
.ButtonWidth:hover {
  background-color: #008cba; /* Green */
  color: white;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* get-productions */
.pageClass {
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: #c8c6c4;
  border-style: solid;
  background-color: white;
}

.filterLabelClass {
  font-size: 35px;
  padding: 30px;
  text-align: left;
}

.filterListClass {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: #c8c6c4;
  align-content: right;
}

.btnIcon {
  color: #282c34;
}

.leftAlignClass {
  margin-right: auto;
}

.leftAlignClass {
  margin-right: auto;
}
.cancelAlignClass {
  margin-left: auto;
}
