################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
.configcache
TestResults/
*.feature.cs
*.psess
*.vsp
*.refactorlog
*.rdb
*.Cache
*.user
*.wrn
*.log
*.err
*.old
*.suo
*.coverage
*.pubxml
*.dbmdl
*.jfm
*.trx
*-lock.json
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
/**/__pycache__
/**/.vscode
/**/Bdd.Core.*.nupkg
/**/CredentialProvider.VSS.exe
/**/Spex*
/**/pickledFeatures*.json
/**/obj
*.feature.cs
*.suo
*.user
_ReSharper.*
bin
obj
packages
SampleAPI.feature
SampleAPI.feature.cs
nuget.exe
wpp.storageautomation.Tests.test_local.runsettings